.background-container{
    min-height:400vh;
    background: linear-gradient(to bottom, black 0%, rgb(0, 0, 136) 100%);
    position: relative;
    z-index: 1;
    scroll-snap-type: y mandatory;
    overflow-y: hidden;
    height: 100vh;
}

.content{
    position:relative;
    z-index:2;
}

.scroll-container section{
    scroll-snap-align: start;
    height: 100vh; /* Make each section fill the container */
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
}

.full-screen{
    height: 100vh;
}

.initial-background-color {
    height: 150vh;
    background-color: rgb(160,196,255);
    position: sticky;
    z-index: 1;
}

html body{
    height: auto;
    scroll-behavior: smooth;
    overflow: hidden; 
}

.mw-70{
    max-width: 70%;
}

.pb-5{
    padding-bottom: 5rem !important;
}

.pb-7{
    padding-bottom: 7rem !important;
}

.scroll-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scrollbar-width: smooth;
    scrollbar-color: rgba(0, 0, 0, 0) transparent; /* Sets scrollbar to transparent */

}

/* ----------- ID Based Styles - --------------------------*/
#procedure-table{
    height:100%
}

