.background-container{
    min-height:200vh;
    background: linear-gradient(to bottom, black 0%, rgb(0, 0, 136) 100%);
    position: relative;
    z-index: 1;
}

.content{
    position:relative;
    z-index:2;
}

.h100{
    height: 100%;
}

.full-screen{
    height: 100vh;
}

.fade-out{
    animation: fade-out linear; 
    animation-timeline: view(block);
    animation-range: exit 0% exit 100%;
}

.initial-background-color {
    height: 150vh;
    background-color: rgb(160,196,255);
    position: sticky;
    z-index: 1;
}

html {
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
}

html body{
    height: auto;
    scroll-behavior: smooth;
}

.mw-70{
    max-width: 70%;
}
nav{
    position: fixed !important;
    z-index: 3;
    width: 100%;
}

.pb-5{
    padding-bottom: 5rem !important;
}

.pb-7{
    padding-bottom: 7rem !important;
}

.scroll-container section{
    scroll-snap-align: start;
    /*height: 100vh;  Make each section fill the container */
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 2rem;
    min-height: 100vh;
}

.scroll-container{
    /*height: 100vh; - Breaks the gradient. If removed, please add comment explaining how you didn't break gradient and/or tell Ethan.*/
    scrollbar-width: smooth;
    scrollbar-color: rgba(0, 0, 0, 0) transparent; /* Sets scrollbar to transparent */

}


.timeline {
  border-left: 1px solid white;
  position: relative;
  list-style: none;
  padding: 1rem 0 1rem;
}

.timeline .timeline-item:after {
  background-color: rgba(0, 0, 0, 0.75);
  left: -38px;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
}


.timeline .timeline-item {
  position: relative;
}

ul {
  list-style-type: square;
  padding-left: 1.2rem !important;
  z-index:3;
}

ul li::marker {
  color: var(--site-theme-color); 
  font-size: 1.5em;
  z-index:10;
}

/* ----------- ID Based Styles - --------------------------*/
#procedure-table{
    height:100%
}



/* ----------- Animation Styles - --------------------------*/
.content-anim {
     opacity: 0;
     transform: translateY(20px);
     animation: fadeInUp 0.8s ease-out forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    #about-top-statement{
        visibility: hidden;
        width:0%
    }
    #slogan-img-top{
        width:100%;
    }
    .black-bg-mobile{  
        background-color: rgba(0,0,0,0.9);
        padding-left: 1rem;
    }
}