.booking-info{
    margin-left: 1rem;
    margin-right:1rem;
}

#get-flights-btn{
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--site-theme-color);
  background-color: black;
  box-shadow: 4px 4px var(--site-theme-color);
  font-size: 17px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

#get-flights-btn:active {
  box-shadow: 0px 0px var(--site-theme-color);
  transform: translate(3px, 3px);
}

#get-flights-btn:hover {
  box-shadow: 4px 4px #e8b62d;
}

@media (max-width: 1200px) {
    .footer .row > div {
        text-align: center !important;
        margin-top: 0.75rem;
    }
    .footer .col-md-4.text-end.d-flex {
        justify-content: center !important;
        flex-direction: column;
    }
    #hamburger-icon{
        color: #edc351 !important;
        border-width: 5px;
        border-color: #edc351;
    }

    #navlist{
        border: 4px solid #edc351 ;
        border-radius: 7.5px;
    }
    .nav-item{
        background-color: black;
    }
    .navbar-item, #nav-button-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #navbar-container{
        width: 100%;
        padding-bottom: 10px;
        background-color: black;
    }


    .leftabitmobile-md{
        transform: translateX(-1rem);
    }
}