/* Set background colors for page and main section*/
body{
  background: #292524 !important;
}

.dashboard-body {
  background-color: #292524;
  color: #edc351;
}

/* Set font colors and size for title*/
.dashboard-title {
  font-family: "Hanken Grotesk";
  font-weight: bold;
  font-size: 10vh;
  color: #edc351;
  letter-spacing: 2px;
}

/* Set font colors and size for subheader*/
.dashboard-subheader {
  font-family: "Hanken Grotesk";
  font-weight: bold;
  font-size: 6vh;
  color: #edc351;
  letter-spacing: 1px;
}

/* Set font colors and size for text*/
.dashboard-text {
  color: #edc351;
  font-size: 2.5vh;
  letter-spacing: 1px;
}

/* Set styles for buttons on dashboard page*/
.dashboard-button {
    position: static;
  background-color: #edc351;
  color: black;
  font-size: 2.5vh;
  border: 4px solid black;
  border-radius: 50px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.dashboard-button:hover {
  color: #edc351;
  background-color: black;
  border-color: #edc351;
  padding: 20px;
  margin-bottom: 60px;
}
#dashboard-button-list li{
  position: static;
  margin-bottom: 40px;
  margin-top: 40px;
}


/* Set width for images*/
.dashboard-image {
  max-width: 20px;
}

/* Image hover animations*/
.leftrotate:hover{
  transform: rotate(-3deg);
}
.rightrotate:hover{
  transform: rotate(3deg);
}
