:root{
    --max-plane-width: 60vw;
    --a380-800-len:72.72;
    --a310-300-len:46.7;
    --b737-max-8-len:39.5;
    --jetstream-41-len: 19.25;
    --largest-plane-len: max(var(--a380-800-len),var(--a310-300-len),var(--b737-max-8-len),var(--jetstream-41-len));
    --plane-scale-factor: calc(var(--max-plane-width) / var(--largest-plane-len));

    --bg-co:#292524;
}

html{
    background-color:var(--bg-co);
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
}


.bg{
    background-color:var(--bg-co);
}

.mw-90{
    max-width: 70%;
}
section{
    min-height:100vh;
}

#jetstream-41{
    width:calc(var(--jetstream-41-len)*var(--plane-scale-factor));
    height:auto;
}  

#plane-737-max-8{
    width:calc(var(--b737-max-8-len)*var(--plane-scale-factor));
    height:auto;
}

#plane-a310-300{
    width:calc(var(--a310-300-len)*var(--plane-scale-factor));
    height:auto;
}
#plane-A380-800{
    width:calc(var(--a380-800-len)*var(--plane-scale-factor));
    height:auto;
}