#header{
    background-image: url("../img/airplanesunset.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    height: 100vh;
    width: auto;
    align-items: center;
    display:flex;
    justify-content: center;
    padding-bottom: 15%;
}

#header-text{
    color: #edc351;
    font-family: "Hanken Grotesk";
    font-weight: bold;
    font-size: 12vh;
}

@media (max-width: 768px) {
    #header{
        padding-bottom: 25vh;
    }
}