#header{
    background-image: url("../img/airplanesunset.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    height: 900px;
    width: auto;
    align-items: center;
    display:flex;
    justify-content: center;
    padding-bottom: 10%;
}

#header-text{
    color: #edc351;
}
