/* Set background colors for page and main section*/
body{
  background: #292524 !important;
}

html{
    background-color:var(--bg-co);
    scroll-snap-type: y mandatory; /* Enable vertical scroll snapping */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.bottom-row-spacer {
  padding-top: 50px;
}

.top-row-spacer {
  padding-top: 20px;
}

.loyalty-body {
  background-color: #292524;
  color: #edc351;
}

/* Set font colors and size for text*/
.loyalty-title {
  color: #edc351;
  letter-spacing: 2px;
}

.loyalty-text {
  font-size: 1.2rem;
  color: #edc351;
  text-align: center;
}

/* Set width for images*/
.loyalty-image {
  max-width: 20px;
}

/* Image hover animations*/
.leftrotate:hover{
  transform: rotate(-3deg);
}
.rightrotate:hover{
  transform: rotate(3deg);
}
