.loyalty-body {
  background-color: #292524;
  color: #edc351;
}

.loyalty-title {
  color: #edc351;
  letter-spacing: 2px;
}

.loyalty-text {
  font-size: 1rem;
  color: #edc351;
}

.loyalty-image {
  max-width: 20px;
}

.leftrotate:hover{
  transform: rotate(-5deg);
}
.rightrotate:hover{
  transform: rotate(-5deg);
}
