body{
  background: #292524 !important;
}

.sign-up-title {
    font-size: 2rem;
    font-weight: 600;
    color: #edc351;
    text-decoration: none;
}

.signup-button {
    padding: 12px;
    font-weight: 700;
    border-radius: 15px;
    background-color: #edc351;
    border-color: #edc351;
    transition: transform 0.1s ease;
}

.signup-button:hover {
    transform: scale(0.995);
}

.signup-container{
    min-width:50vw;
}

@media (max-width: 992px) {
    .signup-container{
        min-width:90vw;
    }
}