/* Site color themes */
.bg-site-theme{
    background-color: var(--site-theme-color) !important;
}

.bg-black{
    background-color: var(--site-dark) !important;
}

/* Footer font color and size */
.footer {
    background-color: #292524;
}

.footer-details {
    color: #edc351;
}

.footer-details a i {
    color: #edc351;
}

.footer-details p {
    font-size: 1rem;
}

.footer .small {
  font-size: 0.75rem;
}

/* Hover animations */
.hoveranimated:hover{
    transform:translateY(-1rem);
}

.hoveranimated-light:hover{
    transform:translateY(-0.5rem);
}

.logo{
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.logo:hover{
    transform: scale(1.1);
}

/* HTML Body */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar{
    background-color: black;
    height: 90px;
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;

}

.navbar-item{
    font-size: 26px !important;
    font-family: "Hanken Grotesk";
    font-weight: bold !important;
}

.navbar-highlighted-button{
    background-color: #edc351 !important;
    color:#292524 !important;
    border: 4px solid #edc351 !important;
    border-radius: 20px;
}

#nav-logo{
    height: 3.5rem;
    width: auto;
    max-height:20vh;
}

.noborder {
    border: none !important;
    border-style:none !important;
}

/* Text color themes */
.text-site-theme{
    color: var(--site-theme-color) !important;
}

.text-white{
    color: white !important;
}

:root{
    --site-theme-color: #edc351;
    --site-dark:black;
}

.snap-start{
    scroll-snap-align: start;
}

.sticky-up-button{
    left: 95% !important;
    bottom: 3% !important; 
}


/* Underline animations */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--site-theme-color);
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}


/*mobile css*/
@media (max-width: 768px) {
    .footer .row > div {
        text-align: center !important;
        margin-top: 0.75rem;
    }
    .footer .col-md-4.text-end.d-flex {
        justify-content: center !important;
        flex-direction: column;
    }
    #hamburger-icon{
        color: #edc351 !important;
        border-width: 5px;
        border-color: #edc351;
    }
    .nav-item{
        background-color: black;
    }

    .leftabitmobile-md{
        transform: translateX(-1rem);
    }
}

/*fade in and out animations*/

.content-anim {
     opacity: 0;
     transform: translateY(20px);
     animation: fadeInUp 0.8s ease-out forwards;
}

.fade-in{
    animation: fade-in linear; 
    animation-timeline: view(block);
    animation-range: enter 0% enter 100%;
}


@keyframes fade-in { 
    0% {
        opacity: 0;
    }
    17% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}