.navbar{
    background-color: black;
}

.bg-site-theme{
    background-color: var(--site-theme-color);
}

.bg-black{
    background-color: var(--site-dark);
}
.text-site-theme{
    color: var(--site-theme-color);
}

:root{
    --site-theme-color: rgb(175, 147, 21);
    --site-dark:black;
}