

.bg-site-theme{
    background-color: var(--site-theme-color);
}

.bg-black{
    background-color: var(--site-dark);
}

.navbar{
    background-color: black;
}
.text-site-theme{
    color: var(--site-theme-color) !important;
}

:root{
    --site-theme-color: #edc351;
    --site-dark:black;
}

.footer {
    background-color: #000000;
}

.footer-details {
    color: #1c1c1d
}

/* Underline animations */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--site-theme-color);
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}